<%= stylesheet_link_tag  'bootstrap-datetimepicker.min', :media => 'all' %>
<div id="box-0" class="box">
  <div class="box-header round-top">
    Details
  </div>         
  <div class="box-container-toggle">
    <div class="box-content">
      <div class="row-fluid">
        <div class="span12" >
          <label class="story-label">Summary: <span class="required">*</span></label>
          <%= f.text_field :summary, :style => "width: 82%;" %>
          <br/><br/>
        </div>
        <div class="span6" style="padding: 0px; margin: 0px">
          <label class="story-label">Type: </label>
          <%= f.select :type_id, 
            options_for_select(WorkitemType.all_cached.map { |type| [type.name, type.id] }, 
                               @workitem.type_id), 
                       {}, 
                       :class => "story-field" %>
          <br/><br/>
          <label class="story-label">Status: </label>
          <%= f.select :status_id,
            options_for_select(WorkitemStatus.all_cached.map { |status| [status.name, status.id] }, @workitem.status_id),
                       {},
                       :class => "story-field" %>
          <br/><br/>
          <label class="story-label">Owned by: </label>
          <%= f.text_field :user_id, :class => "story-field" %>
          <label class="story-label">Tags: </label>
          <%= f.text_field :tags, :class => "story-field" %>
        </div>
        <div class="span6" style="padding: 0px 0px 0px 10px; margin: 0px">
          <label class="story-label">Points: </label>
          <%= f.select :points, 
                       options_for_select([['1', 1], ['2', 2], ['3', 3]], @workitem.points), 
                       {}, 
                       :class => "story-field" %>
          <br/><br/>
          <label class="story-label">Priority: </label>
          <%= f.select :priority_id, 
            options_for_select(Priority.all_cached.map { |priority| [priority.name, priority.id] }, @workitem.priority_id),
                       {},
                       :class => "story-field" %>
          <br/><br/>
          <label class="story-label">Estimate: </label>
          <%= f.text_field :estimate, :class => "story-field" %>
          <label class="story-label">Due date: </label>
          <div id="datetimepicker1" class="input-append date" >
            <%= f.text_field :due_date, :class => "story-field", "data-format" => "yyyy-MM-dd", :style => "width: 245px", :readonly => "true"%>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'bootstrap-datetimepicker.min' %>
<script>
  $(function() {
    $("#datetimepicker1").datetimepicker({ pickTime: false }); 
  });
</script>
