<div id="box-0" class="box" >
  <div class="box-header round-top">
    Quick Information
  </div>         
  <div class="box-container-toggle">
    <div class="box-content">
      <div>
        <legend>
          People
        </legend>
        <ul class="quick-info">
          <li>
          <span class="quick-info-left">Reporter: </span>
          <span><a rel="popover" href="#">Michael Valladolid</a></span>
          </li>
          <li>
          <span class="quick-info-left">Watches: </span>
          <div id="watch_div">
            <%= render :partial => 'watches/index', :locals => {:watches => @workitem.watches} %>
          </div>
          </li>
          <li> 
          <span class="quick-info-left">Votes: </span>
          <a id="votes_link" href="#", rel="popover" data-original-title="Votes" data-placement='bottom' data-content="Default">
            <span id="vote_count" class="badge badge-inverse"><%= @workitem.votes.size %></span>
            <span style="margin-left: 10px">Vote this issue</span>
          </a>
          <div id="votes_div" style="display:none">
            <% for voter in @workitem.votes %>
              <div id="vote_<%= voter.id %>">
                <%= link_to h(voter.user.fullname), user_path(voter.user) %>
                <a id="<%= vote_path(voter) %>" class="unvote">
                  <i style="margin-left: 20px; float: right" class="icon-remove "></i>
                </a>
              </div>
            <% end %>
          </div>
          </li>
        </ul>
        <legend>
          <span>
            Dates
          </span>
        </legend>
        <ul class="quick-info">
          <li>
          <span class="quick-info-left">Date Created: </span>
          <span><%= date_to_s(@workitem.created_at) %></span>
          </li>
          <li>
          <span class="quick-info-left">Last Updated: </span>
          <span><%= date_to_s(@workitem.updated_at) %></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="box-content" style="border-top: 1px solid #DDDDDD">
      <%= f.submit 'Save', :class => :btn, :style => "width: 110px", :id => :submit, 'data-loading-text' => 'Saving...' %>&nbsp;&nbsp;&nbsp;
      <button type="submit" class="btn" style="width: 110px">Add Task</button> 
    </div>
  </div>
</div>
<div id="watches_popover" style="display:none" class="popover-div">
  <div>
    <ul class="popover-ul" id="watches_list">
      <li><input type="text" id="add_watches" data-provide="typeahead" autocomplete="off"/></li>
      <!--<li class="divider-li"></li>--!>
      <% for watch in @watches %>
        <li><%= link_to h(watch.user.fullname), user_path(watch.user) %></li></li>
        <li><%= link_to 'test', workitem_watch_path(watch) %></li>
      <% end %>
    </ul>
  </div>
</div>
<script>
  $(document).ready(function() {
    init_popover("#watches_link", "#watches_popover");
    init_popover("#votes_link", "#votes_div");
    $("[class$='workitem']").bind('keypress', function(e) {
      var code = e.keyCode || e.which;
      if(code == 13) {
        e.preventDefault();
        return false; 
      }
    });
  });

  function init_popover(link, div) {
    $(link).popover({
      html:true, 
      content: function() {
        return $(div).html();
      }
      }).on('click', function(e) {
      if(div === "#watches_popover") {
        var map = {};
        var objects = [];
        var popover = $('#watches_link').data('popover');
        $("#add_watches").typeahead({
          source: function(query, typeahead) {
            if(query.trim().length == 0) return false;
            $.ajax({
              url: '/users/search/' + query + '/' + <%= @workitem.id %>,
              success: function(data) {
                objects = [];
                $.each(data, function(i, value) {
                  map[value.email] = value.id;
                  objects.push(value.fullname + '-' + value.email);
                });
                return typeahead(objects);
              }
            }) 
          },
          updater: function(item) {
            add_watch(map[item.split('-')[1]], item.split('-')[0], popover);
          }
        });
      }
      e.preventDefault(); 
    });
  }


  function add_watch(user_id, fullname, popover) {
    $.ajax({
      url: '<%= workitem_watches_path(@workitem) %>',
      type: 'POST',
      data: { watch: { 'user_id': user_id } },
      success: function(data) { 
        //popover.options.content = data;
        //update_count('#watch_count', 1);
        $('#watch_div').html(data);
        init_popover("#watches_link", "#watches_popover");
        $('#watches_list').append('<li><a href="/user/' + user_id + '">' + fullname + '</a></li>') 
      }
    })
  }

  function remove_watch(user_id) {
    $.ajax({
      url: '<%= workitem_watches_path(@workitem) %>/' + user_id,
      type: 'DELETE',
      success: function(data) { 
        //popover.options.content = data;
        //update_count('#watch_count', 1);
        $('#watch_div').html(data);
        init_popover("#watches_link", "#watches_popover");
      }
    })
  }

  function update_count(id, add) {
    $(id).html(parseInt($(id).html()) + add); 
  }

  $(document).on('click', '.unvote', function() {
    $.ajax({
      type: 'DELETE',
      url: this.id,
      success: function(data) {
        $('#vote_' + data['id']).remove();
      },
      complete: function(data) {
      }
    });
  });
</script>
