<div id="box-0" class="box" >
  <div class="box-header round-top">
    Quick Information
  </div>         
  <div class="box-container-toggle">
    <div class="box-content">
      <div>
        <legend>
          People
        </legend>
        <ul class="quick-info">
          <li>
          <span class="quick-info-left">Reporter: </span>
          <span><a rel="popover" href="#">Michael Valladolid</a></span>
          </li>
          <li>
          <span class="quick-info-left">Watches: </span>
          <a id="watches_link" href="#" rel="popover" data-original-title="Watches" data-placement='bottom' data-content="Default">
            <span class="badge badge-inverse">10</span>
          </a>
          <a href="#" style="float: right"><i class="icon-eye-open"></i></a>
          <div id="watches_div" style="display:none" class="popover-div">
            <%= render :partial => 'watches/index', :locals => {:watches => @workitem.watches} %>
          </div>
          </li>
          <li> 
          <span class="quick-info-left">Votes: </span>
          <a id="votes_link" href="#", rel="popover" data-original-title="Votes" data-placement='bottom' data-content="Default">
            <span id="vote_count" class="badge badge-inverse"><%= @workitem.votes.size %></span>
          </a>
          <a href="#" style="float: right"><i class="icon-thumbs-up"></i></a>
          <div id="votes_div" style="display:none">
            <% for voter in @workitem.votes %>
              <div id="vote_<%= voter.id %>">
                <%= link_to h(voter.user.fullname), user_path(voter.user) %>
                <a id="<%= vote_path(voter) %>" class="unvote">
                  <i style="margin-left: 20px; float: right" class="icon-remove "></i>
                </a>
              </div>
            <% end %>
          </div>
          </li>
        </ul>
        <legend>
          <span>
            Dates
          </span>
        </legend>
        <ul class="quick-info">
          <li>
          <span class="quick-info-left">Date Created: </span>
          <span>15/May/13 4:01 AM</span>
          </li>
          <li>
          <span class="quick-info-left">Last Updated: </span>
          <span>15/May/13 4:01 AM</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="box-content" style="border-top: 1px solid #DDDDDD">
      <%= f.submit 'Save', :class => :btn, :style => "width: 110px", :id => :submit, 'data-loading-text' => 'Saving...' %>&nbsp;&nbsp;&nbsp;
      <button type="submit" class="btn" style="width: 110px">Add Task</button> 
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    init_popover("#watches_link", "#watches_div");
    init_popover("#votes_link", "#votes_div");
    function init_popover(link, div) {
      $(link).popover({
        html:true, 
        content: function() {
          return $(div).html();
        }
        }).on('click', function(e) {
        if(div === "#watches_div") {
          var popover = $(link).data('popover');
          var map = {};
          var objects = [];
          $("#add_watches").typeahead({
            source: function(query, typeahead) {
              if(query.trim().length == 0) return false;
              $.ajax({
                url: '/users/search/' + query + '/' + <%= @workitem.id %>,
                success: function(data) {
                  objects = [];
                  $.each(data, function(i, value) {
                    map[value.email] = value.id;
                    objects.push(value.fullname + '-' + value.email);
                  });
                  return typeahead(objects);
                }
              }) 
            },
            updater: function(item) {
              var id = map[item.split('-')[1]]; 
              var fullname = item.split('-')[0];
              $.ajax({
                url: '/watches',
                type: 'POST',
                data: { watch: { workitem_id: <%= @workitem.id %>, user_id: id } },
                success: function(data) {
                  popover.options.content = data; 
                  $("#watches_list").append('<li><a href="/users/' + id + '">' + fullname + '</a></li>');
                }
              })
            }
          });
        }
        e.preventDefault(); 
      });

      $("[class$='workitem']").bind('keypress', function(e) {
        var code = e.keyCode || e.which;
        if(code == 13) {
          e.preventDefault();
          return false; 
        }
      });
    }
  });

  $(document).on('click', '.unvote', function() {
    $.ajax({
      type: 'DELETE',
      url: this.id,
      success: function(data) {
        $('#vote_' + data['id']).remove();
      },
      complete: function(data) {
      }
    });
  });
</script>
