<div id="box-0" class="box" >
  <div class="box-header round-top">
    Quick Information
  </div>         
  <div class="box-container-toggle">
    <div class="box-content">
      <div>
        <legend>
          People
        </legend>
        <ul class="quick-info">
          <li>
          <span class="quick-info-left">Reporter: </span>
          <span><a rel="popover" href="#">Michael Valladolid</a></span>
          </li>
          <li>
          <span class="quick-info-left">Watches: </span>
          <div id="watch_div">
            <%= render :partial => 'watches/index', :locals => {:watches => @workitem.watches, :workitem_id => @workitem.id} %>
          </div>
          </li>
          <li> 
          <span class="quick-info-left">Votes: </span>
          <a id="votes_link" href="#", rel="popover" data-original-title="Votes" data-placement='bottom' data-content="Default">
            <span id="vote_count" class="badge badge-inverse"><%= @workitem.votes.size %></span>
            <span style="margin-left: 10px">Vote this issue</span>
          </a>
          <div id="votes_div" style="display:none">
            <% for voter in @workitem.votes %>
              <div id="vote_<%= voter.id %>">
                <%= link_to h(voter.user.fullname), user_path(voter.user) %>
                <a id="<%= vote_path(voter) %>" class="unvote">
                  <i style="margin-left: 20px; float: right" class="icon-remove "></i>
                </a>
              </div>
            <% end %>
          </div>
          </li>
        </ul>
        <legend>
          <span>
            Dates
          </span>
        </legend>
        <ul class="quick-info">
          <li>
          <span class="quick-info-left">Date Created: </span>
          <span><%= date_to_s(@workitem.created_at) %></span>
          </li>
          <li>
          <span class="quick-info-left">Last Updated: </span>
          <span><%= date_to_s(@workitem.updated_at) %></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="box-content" style="border-top: 1px solid #DDDDDD">
      <%= f.submit 'Save', :class => :btn, :style => "width: 110px", :id => :submit, 'data-loading-text' => 'Saving...' %>&nbsp;&nbsp;&nbsp;
      <button type="submit" class="btn" style="width: 110px">Add Task</button> 
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    //init_popover("#watches_link", "#watches_popover");
    init_popover("#votes_link", "#votes_div");
    $("[class$='workitem']").bind('keypress', function(e) {
      var code = e.keyCode || e.which;
      if(code == 13) {
        e.preventDefault();
        return false; 
      }
    });
  });

  function init_popover(link, div) {
    $(link).popover({
      html:true, 
      content: function() {
        return $(div).html();
      }
    });
  }

  function add_watch(user_id, fullname) {
    $.ajax({
      url: '<%= workitem_watches_path(@workitem) %>',
      type: 'POST',
      data: { watch: { 'user_id': user_id } },
      success: function(data) { 
        $('#watch_div').html(data);
      },
      complete: function() {
        ajax_modal();
      }
    })
  }

  function remove_watch(user_id) {
    $.ajax({
      url: '<%= workitem_watches_path(@workitem) %>/' + user_id,
      type: 'DELETE',
      success: function(data) { 
        $('#watch_div').html(data);
      },
      complete: function() {
        ajax_modal();
      }
    })
  }

  $(document).on('click', '.unvote', function() {
    $.ajax({
      type: 'DELETE',
      url: this.id,
      success: function(data) {
        $('#vote_' + data['id']).remove();
      },
      complete: function(data) {
      }
    });
  });
</script>
