<div class="panel no-top-bot-border" >
  <span class="title">
    Search Workitems
  </span>
  <div class="row-fluid">
    <div class="content">
      <div class="span4">
        Contains text:&nbsp; <input id="keyword" type="text" style="width: 64%"/> 
      </div>
      <div class="span2">
        Type: <select id="type_id" style="width: 70%">
          <option value="">All</option>
          <% WorkitemType.all_cached.each do |type| %>
            <option value="<%= type.id %>"><%= type.name %></option>
          <% end %>
        </select>
      </div>
      <div class="span3">
        Status: &nbsp;<select id="status_id" style="width: 70%">
          <option value="">All</option>
          <%= WorkitemStatus.all_cached.each do |status| %>
            <option value="<%= status.id %>"><%= status.name %></option>
          <% end %>
        </select>
      </div>
      <div class="span2">
        Rows: &nbsp; <select id="rows" style="width: 50%">
          <option value="2">2</option>
          <option value="5">5</option>
          <option value="10">10</option>
        </select> 
      </div>
      <div class="span1">
        <%= link_to new_project_workitem_path, :class => 'btn' do %>
          <i class="icon-plus"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel no-side-border" id="workitems_result" >
  </div>
</div>
<%= stylesheet_link_tag 'simplePagination', :media => 'all' %>
<%= javascript_include_tag 'jquery.simplePagination' %>
<script>
  function search(pageNumber) {
    keyword = $("#keyword").val();
    type_id = $("#type_id").val();
    status_id = $("#status_id").val();
    rows = $("#rows").val();
    $("#loading").show();
    $.ajax({
      url: "<%= project_workitems_path(@current_project) %>",
      method: "GET",
      data: {
        partial: true,
        keyword: keyword,
        type_id: type_id, 
        status_id: status_id,
        rows: rows,
        offset: pageNumber - 1
      },
      success: function(data) {
        $("#workitems_result").html(data); 
      },
      complete: function() {
        $("#loading").hide();
      }
    });
  }

  $(document).ready(function() {
    search(1);
    var ids = ["#rows", "#type_id", "#status_id"];
    for (var i = 0; i < ids.length; ++i) {
      $(ids[i]).change(function() {
        search(1);
      });
    }

    $("#keyword").keydown(function(e) {
      if(e.keyCode ==  13)
      search(1); 
    })
  });
</script>
