<div class="row">
  <div class="span9" >
    <h4>
      Story 1234
    </h4>
    <br/>
  </div>
  <div class="span9">
    <%= form_for @workitem do |f| %>
      <%= render :partial => 'details', :local => %>
      <%= render 'description' %>
      <%= render 'discussions' %>
    <% end %>
  </div>
  <div class="span3" >
    <%= render 'quick_info' %>
  </div>
</div>
