<div>
  <%= form_for @user, :remote => :true do |f| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" >&times;</button>
      <h3><%= @label %> User</h3>
    </div>
    <div class="modal-body">
      <table width="80%" align="center">
        <tr>
          <td>Email:</td>
          <td><%= f.text_field :email, :style => 'width: 80%' %></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><%= f.text_field :password, :style => 'width: 80%' %></td>
        </tr>
        <tr>
          <td>Confirm Password:</td>
          <td><input type="password" style="width: 80%"/></td>
        </tr>
        <tr>
          <td>Full Name:</td>
          <td><%= f.text_field :fullname, :style => 'width: 80%' %></td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
      <%= f.submit 'Save', :class => 'btn btn-primary', :id => 'submit' %>
      <%= image_tag 'spinner_small.gif', :style => 'display:none', :id => 'spinner' %> 
    </div>
  <%end%>
</div>
<script>
  $(document).ready(function() {
    $("[class$='user']").
    bind('ajax:error', function(evt, xhr, status, error){
    })
    .bind('ajax:success', function(evt, xhr, status, error) {
      var cnt = 0;
      for(key in xhr) {
        var e = $('#user_' + key)
        e.addClass('required_field');
        if(cnt == 0)
          e.focus();
        cnt += 1;
      }
      if(cnt > 0) {
        $('#spinner').hide();
        $('#submit').show();
      }
    }).
    bind('ajax:beforeSend', function() {
      $('#submit').hide();
      $('#spinner').show();
    });
  });
</script>
