<div style="width: 550px">
  <%= form_for @project, :remote => true do |f| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" >&times;</button>
      <h4><%= @label %></h4>
    </div>
    <div class="modal-body">
      <div class="alert alert-error fade in hide" id="ajax-error" >
      </div>
      <table align="center" width="80%"> 
        <tr>
          <td>Project Name: <span class="required">*</span></td>
          <td><%= f.text_field :name, :style => 'width: 100%' %> </td>
        </tr>
        <tr>
          <td>URL: </td>
          <td><%= f.text_field :url, :style => 'width: 100%' %></td>
        </tr>
        <tr>
          <td>Description:</td>
          <td><%= f.text_area :description , :style => 'width: 100%', :rows => '5' %></textarea></td>
        </try>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
      <%= f.submit 'Save', :class => 'btn btn-primary', :id => :submit, 'data-loading-text' => 'Saving...'%>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function() {
    $("[class$='project']")
    .bind('ajax:error', function(evt, xhr, status, error){
      var error = $('#ajax-error');
      error.show(); 
      window.setTimeout(function() { error.alert('close') }, 5000);
    })
    .bind('ajax:success', function(evt, xhr, status, error) {
      var error = $("#ajax-error");
      error.html("");
      if(xhr['errors']) {
        var cnt = 0;
        for(key in xhr['errors']) {
          var e = $('#project_' + key)
          e.addClass('required_field');
          if(cnt == 0) e.focus();
          cnt += 1;
          error.append(key.charAt(0).toUpperCase() + key.slice(1) + " " + xhr['errors'][key] + "</br>");
        }
        error.show();
        window.setTimeout(function() { error.hide() }, 5000);
      }
    })
    .bind('ajax:beforeSend', function() {
      $('#submit').button('loading');
    })
    .bind('ajax:complete', function() {
      $('#submit').button('reset');
    });
  });
</script>
