<% if @projects.size > 0 %>
  <br/>
  <br/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
      </tr>
    </thead>   
    <tbody>
      <% for project in @projects %>
        <tr>
          <td><%= link_to h(project.name), project_path(project) %></td>
          <td class="center"><%= link_to h(project.url) do %><%= project.url %><% end %></td>
          <td class="center">
            <%= link_to edit_project_path(project), :class => "ajax-modal" do %><i class="icon-pencil"></i><% end %>&nbsp;
            <a href="#"><i class="icon-trash"></i></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  <div id="compact-pagination" style="margin: 10px; min-height: 30px">
    <div style="float: left; ">
      Showing <%= @offset * @limit + 1 %> to <%= @offset * @limit + @projects.size %> of <%= @total %> results
    </div>
    <div id="pagination" style="float: right">
    </div>
  </div>
  <script>
    $(function() {
      $('#pagination').pagination({
        items: <%= @total %>,
        itemsOnPage: <%= @limit %>,
        cssStyle: 'compact-theme',
        currentPage: <%= @offset %> + 1,
        onPageClick: function(pageNumber, e) {
          search(pageNumber);
        }
      });
      ajax_modal();
    });
  </script>
<% else %>
  <div style="margin: auto; padding-top: 100px; min-height: 100px; width: 350px; text-align: center;">
    Your query returned an empty result
  </div>
<% end %>
