<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" >&times;</button>
  <h3>Watches</h3>
</div>
<div class="modal-body">
  <div id="watches_popover">
    <div>
        <input type="text" id="add_watches" data-provide="typeahead" autocomplete="off" style="width: 250px"/>
    </div>
  </div>
</div>
<%= stylesheet_link_tag 'token-input-bootstrap' %>
<%= javascript_include_tag 'jquery.tokeninput' %>
<script>
  $(document).ready(function() {
    $("#add_watches").tokenInput('/users/search/' + <%= @workitem_id %>, {
      propertyToSearch: 'fullname',     
      theme: 'bootstrap',
      zindex: 1111,
      preventDuplicates: true,
      tokenLimit: 5,
      prePopulate: [
      <% for watch in @watches %>
        {id: <%= watch.user.id %>, fullname: "<%= watch.user.user_detail.fullname %>", watch_id: <%= watch.id %>},
      <% end %>
      ],
      onAdd: function(item) {
        watch_cd(item.id, "POST");
      }, 
      onDelete: function(item) {
        watch_cd(item.id, "DELETE");
      }
    });
    $("#add_watches").focus();
  });
</script>
