<!DOCTYPE html>
<html>
  <head>
    <title>Learning and Knowledge Portal</title>
    <%= stylesheet_link_tag 'bootstrap', :media => 'all' %>
    <%= stylesheet_link_tag 'bootstrap-responsive', :media => 'all' %>
    <%= stylesheet_link_tag 'squela', :media => 'all' %>
    <%= stylesheet_link_tag 'font', :media => 'all' %>
    <%= javascript_include_tag 'jquery-1.9.1.min' %>
    <%= javascript_include_tag 'rails' %>
    <%= csrf_meta_tags %>
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>--!>
  </head>
  <body>
    <%= render 'shared/header' %>
    <div id="loading" style="margin:auto; text-align: center; width: 300px;margin-top:-38px; display:none">
      <span class="badge badge-warning">Loading...</span>
    </div>
    <div class="container-fluid">
      <%= render 'shared/message' %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'tooltip' %>
    <%= javascript_include_tag 'bootstrap' %>
    <%= javascript_include_tag 'squela' %>
    <div id="modal_div">
    </div>
    <div id="my_modal" class="modal hide">
      <div id="modal_content">

      </div>
    </div>
  </body>
</html>
